@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafc;
}

input[type=text], input[type=password]{
    text-align: center;
    margin:5px;
}


button{
    text-align: center;
    margin:5px;
}

.spinner{
  animation: spinning-animation infinite 5s linear;
  height: 50px;
  margin:10px;
}

@keyframes spinning-animation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@import "imports.scss";
@import "smallscreen.scss";
@import "mediumscreen.scss";
@import "largescreen.scss";
@import "transitions.scss"
