@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "largescreen.css";
@import "mediumscreen.css";
@import "smallscreen.css";


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9fafc;
}

input{
    text-align: center;
}

.spinner{
  animation: spinning-animation infinite 5s linear;
  height: 50px;
  margin:10px;
}

@keyframes spinning-animation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.zoominout-appear {
    opacity: 0;
    transform: scale(0);
}

.zoominout-appear.zoominout-appear-active {
    transform: scale(1);
    opacity:1;
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.zoominout-enter {
    opacity: 0;
    transform: scale(0);
}

.zoominout-enter.zoominout-enter-active {
    transform: scale(1);
    opacity:1;
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.zoominout-leave {
    opacity:1;
}

.zoominout-leave.zoominout-leave-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}
