@media only screen and (max-width : 620px){
    .smallView{
        display: -webkit-flex;
        display: flex;
        flex:1;
        flex-grow: 1;
        flex-direction: column;
        margin-top: 5%;
    }
    .header{
        display: -webkit-flex;
        display: flex;
        background-color: steelblue;
        width:100%;
        height:10%;
        position : absolute;
        top:0%;,
        flex-direction: row;
        box-shadow: 0px 3px 5px #888888;
    }
    .headerBackButton{
        display: -webkit-flex;
        display: flex;
        flex:1;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        color:white;
        font-weight: bold;
        color:white;
        font-size: 1.75em;
        cursor:pointer;
    }
    .headerTitle{
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        color:white;
        font-weight: bold;
        font-size: 2rem;
    }
    .headerSettings{
        display: -webkit-flex;
        display: flex;
        flex:1;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        margin-right: 1%;
    }

    .baseContainer{
        display: -webkit-flex;
        display: flex;
        width:100%;
        height:100%;
        background-color: white;
        overflow: auto;
    }

    .baseContainer> .mainContent{
        display: -webkit-flex;
        display: flex;
        margin-top: 16%;
        flex-grow: 1;
    }

    .largeView{
        display: none;
    }

    .mymodal{
        position: fixed;
        top:7.5%;
        left:15%;
        width:70%;
        height:75%;
        background-color: steelblue;
        border-radius: 5%;
        box-shadow: 3px 3px 5px #888888,-3px -3px 5px #888888;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .mymodal > .modalTitle{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex:1;
        width:95%;
        font-size: 1.75em;
        color:white;
        font-weight: bold;
    }
    .mymodal > .modalContent{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        flex:3;
        width:95%;
        overflow: auto;
    }
    .mymodal > .modalFooter{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex:1;
        width:95%;
    }
    .mymodal > .modalFooter> .footerButton{
        font-size: 1.5em;
        color:white;
        font-weight: bold;
        border:2px solid white;
        padding:1%;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 30%;
        cursor:pointer;
    }
    .mymodal > .modalFooter> .footerButton:active{
        background-color: white;
        color:steelblue;
    }
    .settingsContainer{
        flex:1;
        align-items: flex-start;
        justify-content:flex-start;
    }
    .settingItem{
        cursor:pointer;
        background-color:white;
        flex:1;
        text-align:center;
        padding:10px;
        margin:5px;
        border:2px solid black;
        border-radius: 10px;
        font-weight:bold;
        cursor:pointer;
    }
    .settingItem:active{
        color:white;
        background-color: steelblue;
        border: 2px solid white;
    }

    .confirmationModal{
        position: fixed;
        top:7.5%;
        left:15%;
        width:70%;
        height:75%;
        background-color: steelblue;
        border-radius: 5%;
        box-shadow: 3px 3px 5px #888888,-3px -3px 5px #888888;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex-direction: column;
    }

    .confirmationModal > .confirmationModalTitle{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex:1;
        width:95%;
        font-size: 1.75em;
        color:white;
        font-weight: bold;
    }
    .confirmationModal > .confirmationModalContent{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex:3;
        width:95%;
        height:95%;
        background-color: white;
        border-radius: 10px;
        overflow: auto;
    }
    .confirmationModal > .confirmationModalFooter{
        display: -webkit-flex;
        display: flex;
        align-self: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        flex:1;
        width:95%;
    }
    .confirmationModalButton{
        flex:1;
        margin:10px;
        border:2px solid white;
        text-align:center;
        font-weight:bold;
        padding:10px;
        border-radius:10px;
        color:white;
        cursor:pointer;
    }
    .confirmationModalButton:active {
        color:steelblue;
        background-color: white;
        border-color: steelblue;
    }
    .loginView, .signupView{
        display: -webkit-flex;
        display: flex;
        flex:4;
        flex-grow: 1;
    }

    .formContainer{
        display: -webkit-flex;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin:5%;
        padding:5%;
        border-radius:10px;
        box-shadow: 2px 2px 3px #888888,-2px -2px 3px #888888;
        text-align: center;
        background-color: steelblue;
    }
    .formContainer> .title{
        font-weight:bold;
        font-size: 2em;
        color:white;
        padding-bottom:10%;
    }
    .formContainer> .footer{
        text-decoration: underline;
        text-align: center;
        margin-top:15%;
        border-radius: 10px;
    }

    /*...........................................................................................*/

}
